body{
  margin: 0px;
  padding: 0px;
}

nav {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;

  color: black;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  color: white;

  text-decoration: none;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #FFFD61;
  font-size: 15px;
  position: relative;
  width:100%;
  font-size: 2rem;
  padding: 2.5rem 0;
  margin: 0;
}

.navlink{
  text-decoration: none;
  margin: 2.5rem;
  color: black;
  font-weight: 1000;
}

.iconfonav{
  display:flex;
  align-items:center;
  align-content:center;
}

Link{
    text-decoration:none; 
}


nav{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
    font-weight: 600;

    color: black;

}
