.top-container{
  position: relative;
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.rocket{
  width:30%;
  height: 30%;
}

.textunicorns{
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 3.5rem;
  font-weight: 100;
  color: white;
}

.connecttext{
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 3.5rem;
  font-weight: 100;
  color: #FFFD61;
  
}

.button-landing{
  background-color:red;
  margin: 10px;
  padding: 1rem;
  border-radius: 0.3rem;
}

.top-container{
  background: url(./../../../img-for-landing/galaxy.png);
  height: 1200px;
  width: 100%;
  position: relative;
  background-size: 100% 700px;
  background-repeat: repeat;
  background-position: contain;
  justify-items: top;
  align-items: center;
  font-size: 2.5rem;
  color: #FFFD61;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}

.howitworkscontainer{
  width: 80%;
  background-color:#5992E1;
  justify-items: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-size: 3.5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.desclanding{
  width: 80%;
  padding-top: Opx;
  margin: Opx;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top:100px;
}

.middlecontainer{
  text-align: center;
}

.cardcontainer{
  display: flex;
  justify-content: space-evenly;
}

.buttoncontainer{
  display: flex;
  justify-content: space-evenly;
  justify-items: space-evenly;
  margin-top: 3rem;
}

.btn-primary1{
  background-color: #FFFD61;
  padding: 2rem;
  color: black;
  font-size: 1.5rem;
}