.profileheadercontainer{
    display: grid;
    justify-content: center;
    justify-items: center;
        width: 1000px;
        background: url(../../img-for-landing/galaxy.png);
        height: 100%;
        width: 100%;
        background-repeat: repeat;

    
    
}

.card1{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
}

.img-ind{
    border-radius:300px;
}

card-body1{
    margin: 2rem;
    padding: 2rem;
    border: 1px;
}   