.propositioncontainer {
    background: url(../../../img-for-landing/galaxy.png);
    background-color: red;
    display: flex;

    
}

.test{
    background: url(../../../img-for-landing/galaxy.png);
    background-color: red;
    margin: 3rem 1rem;
    color: white;
    justify-content: center;
    justify-items: center;
    text-align: center;
    border: none;
}

.card-title1{
    margin-top: 4rem;
    font-family: 'Rubik Mono One', sans-serif;
    color: #5BC5B2;
    font-size: 1.7rem;
}

.textoflogo{
    font-size: 1.5rem;
}

.btn-primary2{
    padding-left: 5rem;
    padding-right: 5rem;
    margin: 2rem;
}